<form novalidate [formGroup]="filterForm">
  <div class="mb-3 row">
    <div class="col-6">
      <div class="row">
        <label for="table-filtering-search" class="col-3 col-form-label">Filter by Last Name</label>
        <div class="col-3">
          <input id="table-filtering-search" class="form-control" type="text" formControlName="filter">
        </div>
        <div class="col">
          <button id="table-filtering-filter" class="form-control" title="Filter" (click)="onFilter()">
            <fa-icon [icon]="faFilter"></fa-icon>
          </button>
        </div>
        <div class="col">
          <button id="table-filtering-clear" class="form-control" title="Clear Filter" (click)="onClear()">Clear Filter</button>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col-4">
      <div class="row">
        <div class="col-8"></div>
        <div class="col">
          <button id="table-model-add" class="form-control" title="Add contact">Add contact</button>
        </div>
      </div>
    </div>
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" sortable="firstName" (sort)="onSort($event)">First Name</th>
      <th scope="col" sortable="lastName" (sort)="onSort($event)">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.phone }}</td>
    </tr>
  </tbody>
</table>
